<div class="table-max-width">
<h1 class="text-center">My Journal</h1>

<table class="table table-hover">
<thead class="bg-dark text-light">
  <tr>
    <th class="col-2">Title</th>
    <th class="col-2">Type</th>
    <th class="col-3">Url</th>
    <th class="col-4">Description</th>
    <th class="col-1"></th>
  </tr>
</thead>
    <tbody>
      <% @learning_resources.each do |learning_resource| %>
        <tr>
          <td>
          <%=link_to learning_resource.title, learning_resource%>
          </td>
          <td><%=learning_resource.resource_type%></td>
          <td><%= learning_resource.url %></td>
          <td><%= learning_resource.description %></td>
          <td><%= link_to '', edit_learning_resource_path(learning_resource), class: "fa-solid fa-pen me-2", style: "text-decoration: none"%> <%= link_to '', learning_resource, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa-solid fa-trash text-danger", style: "text-decoration: none" %></td>
        </tr>
      <% end %>
    </tbody>
</table>
